

.app-form-tarjeta-registro{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250vh;
    background-color: rgb(106, 70, 139);
  
    background-size: cover;
    background-position: center;
}

.formInputTargetaRegistro{
    display: flex;
    flex-direction: column;
    width: 300px;
}

h2{
    color: rgb(145, 85, 253);
    text-align: center;
}